<h1>Course Listing</h1>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: A great intro to CSS</li>
</ul>

<ul>
  <li>Code: CS112</li>
  <li>Name: Intro to Computer Data</li>
  <li>Description: A great intro to CD</li>
</ul>

<i class="material-icons">face</i>